/*-----common style------*/
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}

/*------banner style------*/

.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 240px 0;
    background-color: #E554731A;
}

.banner-title {
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    margin-bottom: 32px;
}

.banner-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 32px;
}

.button {
    border-radius: 8px;
    background: #E55473;
    padding: 20px 43px;
    border: none;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
}



/*------featured style-------*/
.section-two {
    margin-top: 178px;
    padding: 0 240px;
}

.featured-content {
    text-align: center;
}

.featured-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;
}

.featured-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 48px;
}

.featured-image {
    display: flex;
    gap: 24px;
}

.figure-one,
.figure-two,
.figure-three {
    width: 33.33%;
    text-align: center;
}

.image-wrapper {
    border-radius: 300px 300px 0 0;
    padding-top: 80px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 438px;

}

.image-wrapper-two {
    align-items: center;
    background: #0597A026;
}

.image-wrapper-one {
    background: rgba(167, 33, 98, 0.15);
}

.image-wrapper-three {
    background: #477D1126;
}

.caption {
    color: #272727;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
    margin-top: 32px;
}


/*-------hot deal--------*/
.section-three {
    margin: 128px 0;
    padding: 0 240px;
}

.deal-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.deal-content {
    text-align: center;
}

.deal-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;
}

.deal-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 32px;
}



/*-------Instagram---------*/

.instagram {
    text-align: center;
}

.instagram-image {
    display: flex;
    gap: 24px;
    justify-content: center;
}

.instagram-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;
}

.instagram-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 32px;
}